* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

section {
    padding: 7px;
}

.card {
    border: 1px solid #444444;
    background-color: #d0f5f2;
    position: relative;
}

.section-title {
    border-left: 1px solid #444444;
    border-bottom: 1px solid #444444;
    padding: 5px 0 5px 0;
    position: absolute;
    width: 70px;
    right: 0;
}

.card-1 .section-title {
    background-color: #b996e0;
}

.card-2 .section-title {
    background-color: #eda8eb;
}

.card-3 .section-title {
    background-color: #ed8c8c;
}

p {
    margin: 50px 5% 25px 5%;
}

.row { 
    width: 100%;
}

.col-12 {
    float: left;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.3%;
    }
}