@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    background-color: #b9e9eb;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #8a8a8a;
}
.navbar-brand h1 {
    font-weight: bold;
}
.nav-item {
    text-align: center;
    background-color: #666;
    margin-bottom: 5px;
}

header {
    margin-top: 30px;
}
header h2 {
    font-weight: bold;
    font-size: 35px;
}

.costum-padding {
    padding: 0 5px 10px 5px;
}
.food-item {
    background-color: #c94269;
    height: 100%;
    padding: 15px;
}
.food-item h3 {
    font-size: 30px;
    color: #eee;
}
.food-item a {
    font-size: .75em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ccc;
}
.food-item a:hover {
    text-shadow: 0 0 2px #fff;
}