body {
    font-size: 16px;
    color: #ffffff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

.container {
    padding-top: 30px;
}

/** HEADER **/
nav .container {
    position: relative;
}

#header-nav {
    background-color: #f6b319;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, 
.navbar-brand a:focus,
#collapsable-nav a:hover, 
#collapsable-nav a:focus {
    text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .6em;
    margin-top: 12px
}
.navbar-brand p span { /* Star-K */
    vertical-align: middle;
}
.navbar-brand p img {
    height: 20px;
}

.navbar .navbar-collapse {
    text-align: center;
}
#nav-list a {
    color: #951C49;
    font-size: 1.4em;
}
#nav-list li {
    padding: 0 10px 0 10px;
    margin: 0 0 5px 0;
}
#nav-list li.active, #nav-list li:hover {
    background-color: #E7E7E7;
}

#phone a { /* Phone Number */
    text-align: right;
    padding-bottom: 0;
}
#phone div { /* We Deliver */
    color: #557C3E;
    text-align: right;
}

.navbar-toggler {
    position: absolute;
    top: 75px;
    right: 0;
}
.navbar-header button.navbar-toggler {
    border-color: #61122F;
}
.navbar-header .fa-bars {
    color: #61122F;
}

#collapsable-nav {
    margin-bottom: 5px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.panel-footer section {
    margin-bottom: 20px;
    text-align: center;
}
.panel-footer section:nth-last-child(1) {
    margin-bottom: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#hours, #adress {
    line-height: 2;
}
#hours > span, #adress > span {
    font-size: 1.3em;
}

#adress p { 
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}
#testimonials p:nth-child(2) {
    margin-top: 25px;
}

.panel-footer hr {
    border: 1px solid #fff;
    width: 60%;
    margin-top: 40px;
}
/* END FOOTER */

/* MOBILE CALL BUTTON */
#call-btn {
    margin: 0 0 10px 0;
}
#call-btn .btn-primary {
    color: #61122F;
    background-color: #f6b319;
    border: 1px solid #E7E7E7;
    width: 100%;
}
#call-btn a {
    font-size: 5vw;
}
#xs-deliver {
    text-align: center;
    text-transform: uppercase;
}
/* END MOBILE CALL BUTTON */

/* HOME PAGE */
.container .jumbotron {
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
    margin-top: 30px;
    padding: 0;
}

#menu-tile, 
#special-tile, 
#map-tile {
    height: 250px;
    width: 280px;
    margin: 0 auto 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

#menu-tile:hover, 
#special-tile:hover, 
#map-tile:hover {
    box-shadow: 0 1px 5px 1px #CCCCCC;
}

#menu-tile {
    background: url('../images/menu-tile.jpg') no-repeat;
    background-position: center;
}
#special-tile {
    background: url('../images/specials-tile.jpg') no-repeat;
    background-position: center;
}

#menu-tile span, 
#special-tile span,
#map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 0 auto 15px;
}
.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
.category-tile:hover {
    box-shadow: 0 1px 5px 1px #ccc;
}
#menu-categories-title + div {
    margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/*SINGLE CATEGORY PAGE*/
.menu-item-tile {
    margin-bottom: 25px;
}
.menu-item-tile hr {
    width: 80%;
    border: 1px solid #fff;
}

.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: center;
    margin: -15px 0 15px 0;
}
.menu-item-price span {
    font-size: .6em;
}
.menu-item-photo {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin: 0 auto 20px auto;
    max-width: 250px;
}
.menu-item-photo div {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #557c3e;
    width: 80px;
    text-align: center;
}

.menu-item-description {
    padding-right: 30px;
}
h3.menu-item-title {
    font-size: 20px;
    margin: 0 0 10px;
}
.menu-item-details {
    font-size: .9em;
    font-style: italic;
}


/*END SINGLE CATEGORY PAGE*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*HEADER*/
    .navbar-brand h1 {
        font-size: 5vw;
    }
    /*END HEADER*/
    
    
    /*END SINGLE CATEGORY PAGE*/
    .menu-item-tile .menu-item-price {
        text-align: right;
        margin-right: -15px -15px 0 0;
    }
    .menu-item-photo {
        margin: 0 -15px 20px auto;
    }
    /*END SINGLE CATEGORY PAGE*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* HEADER */
    #logo-img {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    .navbar-brand h1 {
        font-size: 1.5em;
    }
    .navbar-brand p { /* Kosher cert */
        font-size: .8em;
        margin-top: 15px
    }
    .navbar-brand p img {
        height: 25px;
    }

    .navbar-brand {
        padding-top: 25px;
    }
    .navbar-toggler {
        right: 10%;
    }
    /* END HEADER */

    /* FOOTER */
    .panel-footer section {
        margin-bottom: 0;
        text-align: left;
    }
    /* END FOOTER */

    /* JUMBOTRON */
    .container .jumbotron {
        background: url('../images/jumbotron_768.jpg');
        height: 432px;
    }
    /* END JUMBOTRON */
    
    /* HOME PAGE */
    #menu-tile, 
    #special-tile, 
    #map-tile {
        width: 100%;
        margin-bottom: 15px;
    }
    /* END HOME PAGE */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* HEADER */
    #nav-list a {
        font-size: .9em;
        font-weight: bold;
    }
    #nav-list i {
        font-size: 1.4em;
    }
    
    #nav-list li {
        padding: 5px 10px 0 10px;
        margin: 0 5px 0 0;
    }
    /* END HEADER */

    /* JUMBOTRON */
    .container .jumbotron {
        background: url('../images/jumbotron_992.jpg');
        height: 558px;
    }
    /* END JUMBOTRON */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* HEADER */
    #logo-img {
        background: url('../images/restaurant-logo_large.png') no-repeat;
        width: 150px;
        height: 150px;
        margin: 10px 15px 10px 0;
    }

    #nav-list a {
        font-size: 1em;
        font-weight: bold;
    }
    #nav-list i {
        font-size: 1.6em;
    }
    /* END HEADER */

    /* JUMBOTRON */
    .container .jumbotron {
        background: url('../images/jumbotron_1200.jpg');
        height: 675px;
    }
    /* END JUMBOTRON */
}